<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Medicare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userViewProducts">View Products</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/userCart"> View Cart</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Logout</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
  <br/> 
<div class="container">
    <h3>Medicine Details</h3>
  </div>
  <br/>
  <div class="container">
    <div>
        <label><b>Id:</b></label>{{medicine.id}}
    </div>
    <br/>
    <div>
        <label><b>Name:</b></label>{{medicine.name}}
    </div>
    <br/>
    <div>
        <label><b>Seller:</b></label>{{medicine.seller}}
    </div>
    <br/>
    <div>
      <label><b>Category:</b></label>{{medicine.category}}
  </div>
  <br/>
    <div>
        <label><b>Description:</b></label>{{medicine.description}}
    </div>
    <br/>
    <div>
        <label><b>Price in INR:</b></label>{{medicine.price}}
    </div>
    <br/>
    <div>
        <label><b>Quantity:</b></label>{{medicine.quantity}}
    </div>
    <br/>
    <td>
        <button class="btn btn-success">Add to Cart</button>
      </td>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <app-footer></app-footer>