<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Medicare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userRegistration">Sign Up</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
  </body>
<br/>
<div class="jumbotron">
    <h2 class="display-3">Welcome to Medicare</h2>
    <hr class="my-2">
</div>
<div>
    <p class="lead">Medicines are the life saving elements which are made by health experts through research and hard work.Having medicine is a basic fundamental right which is recognized by all living beings and organizations.
    With this rapidly progressing world around us the adversities attached to it are also emerging and getting effected to all kinds of living creatures on this planet.
    And the solution to these problems lies first in our basic care of the surroundings we live and use on a daily basis for our own benefits and to the society, 
    and the other solution is medicinal drugs.<br/>
    But since the pace at which the adversities are effecting us is very rapid the cure should be even more quicker ie; to say right medicine at the right time and at the right place should be the solution.<br/>
  With this cause and concern we founded the e-medicine service company <b>Medicare.</b>That supplies medicines at your door step.<br/>
  <br/> 
  <b>Medicare© is a company that supplies medicines and a couple of other healthcare essentials at an affordable price. It was established in 2012 in Delhi, India.</b></p>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-footer></app-footer>