.form-control{
    width: 350px;
}
#image{
    float: right;
    width: 1000px;
    height: 400px;
}
.column{
    width: 20%;
    height: 150px;
}
#form{
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }